* text eol=lf

packages/brotli/test/data/** binary eol=lf
packages/pdf/test/core/streams/data/** binary eol=lf
packages/pdf/assets/**/* binary eol=lf

*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.pdf binary
*.png binary
*.jpg binary
*.eot binary
*.jar binary 
*.bat binary
